<div class="img-header">
    <div class="container">
        <div class="row">
            <div class="col-md-4 content">
                <img src="assets/img/logo.png" class="header-logo">
                
                <div class="row header-buttons">
                    <div class="col-md-4"><a href="index.html#download" class="btn btn-danger"><i class="fa fa-download" aria-hidden="true"></i> Download 3.0.3</a></div>
                    <div class="col-md-4 offset-md-4"><a href="#" class="btn btn-primary"><i class="fa fa-book" aria-hidden="true"></i> Release Notes</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4 page-content">
                <img class="img-fluid" src="assets/img/ffm.jpg">
            </div>
            <div class="col-md-7 page-content-lg offset-md-1">
                <h2>Open Source DVD Authoring Application</h2>
                <p>DVDStyler is a open source DVD authoring application for the creation of professional-looking DVDs. It allows not only burning of video files on DVD that can be played practically on any standalone DVD player, but also creation of individually designed DVD menus.</p>
            </div>
            
        </div>
    </div>
</div>
<div class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-6 page-content-lg">
                <h2>Create and Burn DVD Video with Interactive Menus</h2>
                <p>DVDStyler allows you to design your own DVD menu or select one from the list of ready to use menu templates. You can also create a photo slideshow.</p>
            </div>
            <div class="col-md-4 page-content offset-md-2">
                <img class="img-fluid" src="assets/img/templates.jpg">
            </div>
        </div>
    </div>
</div>
<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4 page-content">
                <img class="img-fluid" src="assets/img/filebrowser.jpg">
            </div>
            <div class="col-md-6 page-content-lg offset-md-2">
                <h2>Multiple File Formats Supported</h2>
                <p>Since the first release, DVDStyler has supported the AVI, MOV, MP4, MPEG, OGG, and WMV video formats as well as the MPEG-2, MPEG-4, DivX, Xvid, MP2, MP3, and AC-3 audio formats.</p>
            </div>
            
        </div>
    </div>
</div>
<div class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-6 page-content-lg">
                <h2>User Friendly Drag and Drop Interface</h2>
                <p>DVDStyler features flexible menu creation on the basis of scalable vector graphics and easy use of buttons, text, and images. It also allows customizable navigation using DVD scripting.</p>
            </div>
            <div class="col-md-4 page-content offset-md-2">
                <img class="img-fluid" src="assets/img/autumn.jpg">
            </div>
        </div>
    </div>
</div>
<div class="bg-light" id="download">
    <div class="container">
        <div class="row">
            <div class="col-md-8 page-content offset-md-2">
                <h2 class="download-text">Download DVDStyler Now!</h2>
                <p class="download-text">the latest offical stable release is 3.0.1</p>
                <div class="download-text" style="margin-top: 35px;">
                    <a href="#" class="btn btn-danger"><i class="fa fa-download" aria-hidden="true"></i> Windows</a>
                    <a href="#" class="btn btn-warning"><i class="fa fa-download" aria-hidden="true"></i> macOS</a>
                    <a href="#" class="btn btn-success"><i class="fa fa-download" aria-hidden="true"></i> Linux</a>
                    <a href="#" class="btn btn-primary"><i class="fa fa-book" aria-hidden="true"></i> Release Notes</a>
                </div>
            </div>
            
        </div>
    </div>
</div>